# EDA & Data Cleaning
---
This notebook will be used to clean and explore the data.

In [297]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer

---
## Load Data

In [299]:
# Read demographic data
demo = pd.read_excel('../data/combined_state_demo_data_2016_2022.xlsx', sheet_name = 'Data')
# check for missing values and print the shape
print(demo.isna().sum())
print(demo.shape)
demo.head()

state                               0
year                                0
total_pop                           0
white_pop                           0
black_pop                           1
hispanic_pop                        0
asian_pop                           0
native_pop                         20
islander_pop                      177
multi_race_pop                      0
median_income                       0
poverty_rate                        0
unemployment_rate                   0
unemployed_15_weeks                 0
labor_force_participation_rate      0
hs_grad_rate                        0
bachelors_grad_rate                 0
zhvi                                0
dtype: int64
(357, 18)

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,median_income,poverty_rate,unemployment_rate,unemployed_15_weeks,labor_force_participation_rate,hs_grad_rate,bachelors_grad_rate,zhvi
0,AL,2022,4916000,0.645,0.252,0.048,0.014,0.002,NaN,0.039,59910,13.6,2.5,1.2,57.0,88.8,28.8,217335.198947
1,AL,2021,4900800,0.644,0.255,0.047,0.013,0.004,NaN,0.037,56930,15.9,3.4,2.0,56.6,87.9,27.4,193148.797902
2,AL,2020,0,0.000,0,0.000,0.000,0,0,0.000,54690,14.9,6.4,1.4,57.2,88.0,27.8,169855.574269
3,AL,2019,4767100,0.654,0.265,0.044,0.014,0.004,NaN,0.019,56200,12.9,3.2,1.4,57.7,87.1,26.3,157202.180627
4,AL,2018,4752600,0.656,0.265,0.043,0.013,<.01,NaN,0.019,49940,16.0,3.9,1.6,57.3,86.6,25.5,148927.509383

In [300]:
# Read crime data
crime = pd.read_csv('../data/transformed_crime_data.csv')
# rename the 'data_year' column to 'year' and update column names to lowercase with underscores
crime.columns = crime.columns.str.lower().str.replace(' ', '_')
crime.rename(columns={'data_year': 'year'}, inplace=True)
# check for missing values and print the shape
print(crime.isna().sum())
print(crime.shape)
crime.head()

state                               0
offender_age                        0
year                                0
crimes_against_society              0
fraud_and_other_financial_crimes    0
property_crime                      0
violent_crime                       0
dtype: int64
(312, 7)

,state,offender_age,year,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime
0,AK,15-24,2021,164.5,38.5,424.5,651.0
1,AK,15-24,2022,156.5,37.5,422.0,648.0
2,AL,15-24,2016,99.0,21.0,79.5,117.0
3,AL,15-24,2017,165.0,13.5,58.5,95.5
4,AL,15-24,2018,33.0,15.5,37.0,52.5

In [301]:
# Read youth data
youth = pd.read_csv('../data/youth data.csv')
# update column names to lowercase with underscores
youth.columns = youth.columns.str.lower().str.replace(' ', '_')

print(youth.isna().sum())
print(youth.shape)
youth.head()

state                        0
year                         0
youth_not_in_school          0
youth_in_foster_care       102
youth_living_in_poverty      0
dtype: int64
(306, 5)

,state,year,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty
0,AL,2022,73000,NaN,240000
1,AL,2021,86000,NaN,245000
2,AL,2019,74000,800.0,228000
3,AL,2018,86000,829.0,255000
4,AL,2017,88000,813.0,265000

---
## Merge Data

In [303]:
# merge demographic and crime data
demo_crime = pd.merge(left = demo, right = crime, how = 'left', left_on = ['state','year'], right_on = ['state','year'])

print(demo_crime.shape)
demo_crime.head()

(357, 23)

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,unemployed_15_weeks,labor_force_participation_rate,hs_grad_rate,bachelors_grad_rate,zhvi,offender_age,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime
0,AL,2022,4916000,0.645,0.252,0.048,0.014,0.002,NaN,0.039,...,1.2,57.0,88.8,28.8,217335.198947,15-24,4804.0,913.5,6430.5,7584.5
1,AL,2021,4900800,0.644,0.255,0.047,0.013,0.004,NaN,0.037,...,2.0,56.6,87.9,27.4,193148.797902,15-24,3236.5,618.0,5552.0,5527.5
2,AL,2020,0,0.000,0,0.000,0.000,0,0,0.000,...,1.4,57.2,88.0,27.8,169855.574269,15-24,327.0,45.0,325.0,419.5
3,AL,2019,4767100,0.654,0.265,0.044,0.014,0.004,NaN,0.019,...,1.4,57.7,87.1,26.3,157202.180627,15-24,94.0,30.5,171.0,108.5
4,AL,2018,4752600,0.656,0.265,0.043,0.013,<.01,NaN,0.019,...,1.6,57.3,86.6,25.5,148927.509383,15-24,33.0,15.5,37.0,52.5

In [304]:
# merge youth data
combined = pd.merge(left = demo_crime, right = youth, how = 'left', left_on = ['state','year'], right_on = ['state','year'])

# save combined dataframe as .csv
combined.to_csv('../data/state_demo_crime_youth_data_combined.csv')

print(combined.shape)
print(combined.isna().sum())
combined.head()

(357, 26)
state                                 0
year                                  0
total_pop                             0
white_pop                             0
black_pop                             1
hispanic_pop                          0
asian_pop                             0
native_pop                           20
islander_pop                        177
multi_race_pop                        0
median_income                         0
poverty_rate                          0
unemployment_rate                     0
unemployed_15_weeks                   0
labor_force_participation_rate        0
hs_grad_rate                          0
bachelors_grad_rate                   0
zhvi                                  0
offender_age                         45
crimes_against_society               45
fraud_and_other_financial_crimes     45
property_crime                       45
violent_crime                        45
youth_not_in_school                  51
youth_in_foster_care                153
youth_living_in_poverty              51
dtype: int64

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,bachelors_grad_rate,zhvi,offender_age,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty
0,AL,2022,4916000,0.645,0.252,0.048,0.014,0.002,NaN,0.039,...,28.8,217335.198947,15-24,4804.0,913.5,6430.5,7584.5,73000.0,NaN,240000.0
1,AL,2021,4900800,0.644,0.255,0.047,0.013,0.004,NaN,0.037,...,27.4,193148.797902,15-24,3236.5,618.0,5552.0,5527.5,86000.0,NaN,245000.0
2,AL,2020,0,0.000,0,0.000,0.000,0,0,0.000,...,27.8,169855.574269,15-24,327.0,45.0,325.0,419.5,NaN,NaN,NaN
3,AL,2019,4767100,0.654,0.265,0.044,0.014,0.004,NaN,0.019,...,26.3,157202.180627,15-24,94.0,30.5,171.0,108.5,74000.0,800.0,228000.0
4,AL,2018,4752600,0.656,0.265,0.043,0.013,<.01,NaN,0.019,...,25.5,148927.509383,15-24,33.0,15.5,37.0,52.5,86000.0,829.0,255000.0

---
## Data Cleaning

### Drop Columns

In [307]:
# Drop redundant state and year columns
#no need to do this format the column names

combined.drop(columns = ['offender_age'],
              inplace = True)

print(combined.shape)
combined.head()

(357, 25)

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,hs_grad_rate,bachelors_grad_rate,zhvi,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty
0,AL,2022,4916000,0.645,0.252,0.048,0.014,0.002,NaN,0.039,...,88.8,28.8,217335.198947,4804.0,913.5,6430.5,7584.5,73000.0,NaN,240000.0
1,AL,2021,4900800,0.644,0.255,0.047,0.013,0.004,NaN,0.037,...,87.9,27.4,193148.797902,3236.5,618.0,5552.0,5527.5,86000.0,NaN,245000.0
2,AL,2020,0,0.000,0,0.000,0.000,0,0,0.000,...,88.0,27.8,169855.574269,327.0,45.0,325.0,419.5,NaN,NaN,NaN
3,AL,2019,4767100,0.654,0.265,0.044,0.014,0.004,NaN,0.019,...,87.1,26.3,157202.180627,94.0,30.5,171.0,108.5,74000.0,800.0,228000.0
4,AL,2018,4752600,0.656,0.265,0.043,0.013,<.01,NaN,0.019,...,86.6,25.5,148927.509383,33.0,15.5,37.0,52.5,86000.0,829.0,255000.0

### Format Columns

#### Fix Data Types

In [310]:
# check data types
combined.dtypes

state                                object
year                                  int64
total_pop                             int64
white_pop                           float64
black_pop                            object
hispanic_pop                        float64
asian_pop                           float64
native_pop                           object
islander_pop                         object
multi_race_pop                      float64
median_income                         int64
poverty_rate                        float64
unemployment_rate                   float64
unemployed_15_weeks                 float64
labor_force_participation_rate      float64
hs_grad_rate                        float64
bachelors_grad_rate                 float64
zhvi                                float64
crimes_against_society              float64
fraud_and_other_financial_crimes    float64
property_crime                      float64
violent_crime                       float64
youth_not_in_school                 float64
youth_in_foster_care                float64
youth_living_in_poverty             float64
dtype: object

In [311]:
# fix objects
combined['black_pop'] = combined['black_pop'].astype(str).str.replace('<','').astype(float)
combined['native_pop'] = combined['native_pop'].astype(str).str.replace('<','').astype(float)
combined['islander_pop'] = combined['islander_pop'].astype(str).str.replace('<','').astype(float)

combined.head()

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,hs_grad_rate,bachelors_grad_rate,zhvi,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty
0,AL,2022,4916000,0.645,0.252,0.048,0.014,0.002,NaN,0.039,...,88.8,28.8,217335.198947,4804.0,913.5,6430.5,7584.5,73000.0,NaN,240000.0
1,AL,2021,4900800,0.644,0.255,0.047,0.013,0.004,NaN,0.037,...,87.9,27.4,193148.797902,3236.5,618.0,5552.0,5527.5,86000.0,NaN,245000.0
2,AL,2020,0,0.000,0.000,0.000,0.000,0.000,0.0,0.000,...,88.0,27.8,169855.574269,327.0,45.0,325.0,419.5,NaN,NaN,NaN
3,AL,2019,4767100,0.654,0.265,0.044,0.014,0.004,NaN,0.019,...,87.1,26.3,157202.180627,94.0,30.5,171.0,108.5,74000.0,800.0,228000.0
4,AL,2018,4752600,0.656,0.265,0.043,0.013,0.010,NaN,0.019,...,86.6,25.5,148927.509383,33.0,15.5,37.0,52.5,86000.0,829.0,255000.0

In [312]:
# check data types
combined.dtypes

state                                object
year                                  int64
total_pop                             int64
white_pop                           float64
black_pop                           float64
hispanic_pop                        float64
asian_pop                           float64
native_pop                          float64
islander_pop                        float64
multi_race_pop                      float64
median_income                         int64
poverty_rate                        float64
unemployment_rate                   float64
unemployed_15_weeks                 float64
labor_force_participation_rate      float64
hs_grad_rate                        float64
bachelors_grad_rate                 float64
zhvi                                float64
crimes_against_society              float64
fraud_and_other_financial_crimes    float64
property_crime                      float64
violent_crime                       float64
youth_not_in_school                 float64
youth_in_foster_care                float64
youth_living_in_poverty             float64
dtype: object

### Fix 2020 Population Data

In [314]:
# check population data for 2020
combined[['year','total_pop','white_pop','black_pop',
          'hispanic_pop','asian_pop','native_pop',
          'islander_pop','multi_race_pop']].loc[combined['year'] == 2020]

,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop
2,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
128,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
135,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
156,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
170,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
184,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
205,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
219,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
226,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
240,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
254,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
282,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
289,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
303,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
310,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
317,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
324,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
331,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
338,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
345,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352,2020,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [315]:
# fill missing 2020 data with average of 2019 and 2021 data
combined.head()

for row in range(len(combined)):
    if combined.loc[row, 'year'] == 2020:
        combined.loc[row,'total_pop'] = (np.abs(combined['total_pop'][row + 1]) + np.abs(combined['total_pop'][row - 1])) / 2
        combined.loc[row,'white_pop'] = (np.abs(combined['white_pop'][row + 1]) + np.abs(combined['white_pop'][row - 1])) / 2
        combined.loc[row,'black_pop'] = (np.abs(combined['black_pop'][row + 1]) + np.abs(combined['black_pop'][row - 1])) / 2
        combined.loc[row,'hispanic_pop'] = (np.abs(combined['hispanic_pop'][row + 1]) + np.abs(combined['hispanic_pop'][row - 1])) / 2
        combined.loc[row,'asian_pop'] = (np.abs(combined['asian_pop'][row + 1]) + np.abs(combined['asian_pop'][row - 1])) / 2
        combined.loc[row,'native_pop'] = (np.abs(combined['native_pop'][row + 1]) + np.abs(combined['native_pop'][row - 1])) / 2
        combined.loc[row,'islander_pop'] = (np.abs(combined['islander_pop'][row + 1]) + np.abs(combined['islander_pop'][row - 1])) / 2
        combined.loc[row,'multi_race_pop'] = (np.abs(combined['multi_race_pop'][row + 1]) + np.abs(combined['multi_race_pop'][row - 1])) / 2

combined.head()

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,hs_grad_rate,bachelors_grad_rate,zhvi,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty
0,AL,2022,4916000,0.645,0.252,0.0480,0.0140,0.002,NaN,0.039,...,88.8,28.8,217335.198947,4804.0,913.5,6430.5,7584.5,73000.0,NaN,240000.0
1,AL,2021,4900800,0.644,0.255,0.0470,0.0130,0.004,NaN,0.037,...,87.9,27.4,193148.797902,3236.5,618.0,5552.0,5527.5,86000.0,NaN,245000.0
2,AL,2020,4833950,0.649,0.260,0.0455,0.0135,0.004,NaN,0.028,...,88.0,27.8,169855.574269,327.0,45.0,325.0,419.5,NaN,NaN,NaN
3,AL,2019,4767100,0.654,0.265,0.0440,0.0140,0.004,NaN,0.019,...,87.1,26.3,157202.180627,94.0,30.5,171.0,108.5,74000.0,800.0,228000.0
4,AL,2018,4752600,0.656,0.265,0.0430,0.0130,0.010,NaN,0.019,...,86.6,25.5,148927.509383,33.0,15.5,37.0,52.5,86000.0,829.0,255000.0

In [316]:
# check population data for 2020

combined[['year','total_pop','white_pop','black_pop',
          'hispanic_pop','asian_pop','native_pop',
          'islander_pop','multi_race_pop']].loc[combined['year'] == 2020]

,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop
2,2020,4833950,0.6490,0.2600,0.0455,0.0135,0.0040,NaN,0.0280
9,2020,700200,0.5895,0.0240,0.0685,0.0650,0.1445,0.0150,0.0940
16,2020,7102650,0.5315,0.0420,0.3210,0.0330,0.0360,0.0020,0.0355
23,2020,2929450,0.7020,0.1480,0.0805,0.0150,0.0050,0.0040,0.0460
30,2020,38510950,0.3530,0.0520,0.3990,0.1490,0.0030,0.0035,0.0400
37,2020,5638000,0.6655,0.0370,0.2200,0.0315,0.0040,0.0015,0.0405
44,2020,3477400,0.6425,0.0985,0.1735,0.0465,0.0015,NaN,0.0375
51,2020,957200,0.6045,0.2105,0.0995,0.0400,NaN,NaN,0.0425
58,2020,652350,0.3630,0.4405,0.1135,0.0375,NaN,NaN,0.0430
65,2020,21148350,0.5210,0.1470,0.2680,0.0275,0.0015,0.0005,0.0350
72,2020,10386150,0.5115,0.3080,0.0990,0.0420,0.0020,0.0005,0.0365
79,2020,1354050,0.2000,0.0125,0.1060,0.3845,NaN,0.0995,0.1965
86,2020,1807950,0.8020,0.0070,0.1310,0.0130,0.0080,NaN,0.0385
93,2020,12365550,0.5995,0.1340,0.1785,0.0565,0.0010,0.0050,0.0305
100,2020,6556550,0.7765,0.0890,0.0745,0.0235,0.0015,NaN,0.0340
107,2020,3076700,0.8420,0.0365,0.0650,0.0230,0.0030,0.0055,0.0300
114,2020,2827150,0.7455,0.0510,0.1255,0.0290,0.0050,NaN,0.0440
121,2020,4342400,0.8375,0.0740,0.0375,0.0155,0.0015,NaN,0.0335
128,2020,4489400,0.5810,0.3125,0.0535,0.0175,0.0045,NaN,0.0315
135,2020,1319600,0.9160,0.0140,0.0175,0.0110,0.0050,NaN,0.0360
142,2020,5933800,0.4900,0.2910,0.1085,0.0660,0.0015,NaN,0.0420
149,2020,6697450,0.6910,0.0655,0.1265,0.0680,0.0015,NaN,0.0475
156,2020,9803700,0.7400,0.1325,0.0545,0.0320,0.0040,NaN,0.0375
163,2020,5549950,0.7800,0.0655,0.0570,0.0495,0.0075,NaN,0.0395
170,2020,2858850,0.5625,0.3665,0.0305,0.0090,0.0040,NaN,0.0270
177,2020,5963700,0.7810,0.1090,0.0445,0.0205,0.0030,0.0010,0.0415
184,2020,1056600,0.8495,0.0050,0.0400,0.0075,0.0580,NaN,0.0410
191,2020,1890300,0.7755,0.0450,0.1165,0.0230,0.0070,NaN,0.0325
198,2020,3060000,0.4645,0.0890,0.2970,0.0845,0.0075,0.0065,0.0515
205,2020,1330350,0.8870,0.0125,0.0410,0.0265,NaN,NaN,0.0320
212,2020,8892250,0.5335,0.1225,0.2130,0.0980,0.0010,NaN,0.0320
219,2020,2052250,0.3575,0.0165,0.4990,0.0150,0.0840,NaN,0.0275
226,2020,19109050,0.5435,0.1360,0.1945,0.0865,0.0020,NaN,0.0375
233,2020,10175700,0.6190,0.2030,0.0990,0.0300,0.0100,0.0050,0.0380
240,2020,736300,0.8340,0.0265,0.0395,0.0140,0.0475,NaN,0.0350
247,2020,11403600,0.7765,0.1185,0.0415,0.0235,0.0010,NaN,0.0385
254,2020,3842750,0.6395,0.0670,0.1150,0.0220,0.0730,0.0010,0.0820
261,2020,4146200,0.7355,0.0180,0.1370,0.0460,0.0080,0.0035,0.0525
268,2020,12470800,0.7495,0.1005,0.0810,0.0360,0.0010,NaN,0.0330
275,2020,1033700,0.6970,0.0510,0.1700,0.0315,0.0020,NaN,0.0465
282,2020,5012400,0.6325,0.2545,0.0600,0.0165,0.0025,NaN,0.0325
289,2020,857550,0.8105,0.0210,0.0385,0.0140,0.0800,NaN,0.0345
296,2020,6718500,0.7295,0.1575,0.0585,0.0175,0.0020,NaN,0.0350
303,2020,28565750,0.4020,0.1155,0.4020,0.0510,0.0025,0.0010,0.0270
310,2020,3217950,0.7690,0.0100,0.1455,0.0240,0.0080,0.0080,0.0355
317,2020,608900,0.9170,0.0110,0.0190,0.0170,NaN,NaN,0.0320
324,2020,8245050,0.6040,0.1830,0.0990,0.0675,0.0020,0.0055,0.0445
331,2020,7488050,0.6605,0.0375,0.1330,0.0915,0.0090,0.0060,0.0615
338,2020,1736000,0.9155,0.0285,0.0155,0.0080,NaN,NaN,0.0305
345,2020,5715750,0.8020,0.0600,0.0730,0.0300,0.0060,NaN,0.0295
352,2020,563100,0.8255,0.0095,0.1035,0.0065,0.0195,NaN,0.0345

#### Convert % Columns to Rates

In [318]:
# Convert % columns to rates
print(f"Poverty Rate min BEFORE: {combined['poverty_rate'].min()}")
combined['poverty_rate'] = combined['poverty_rate'] / 100
print(f"Poverty Rate min AFTER: {combined['poverty_rate'].min()}")
print("=" * 30)

print(f"Unemployment Rate min BEFORE: {combined['unemployment_rate'].min()}")
combined['unemployment_rate'] = combined['unemployment_rate'] / 100
print(f"Unemployment Rate min AFTER: {combined['unemployment_rate'].min()}")
print("=" * 30)

print(f"Unemployed 15 Weeks Rate min BEFORE: {combined['unemployed_15_weeks'].min()}")
combined['unemployed_15_weeks'] = combined['unemployed_15_weeks'] / 100
print(f"Unemployed 15 Weeks Rate min AFTER: {combined['unemployed_15_weeks'].min()}")
print("=" * 30)

print(f"Labor Force Participation Rate min BEFORE: {combined['labor_force_participation_rate'].min()}")
combined['labor_force_participation_rate'] = combined['labor_force_participation_rate'] / 100
print(f"Labor Force Participation Rate min AFTER: {combined['labor_force_participation_rate'].min()}")
print("=" * 30)

print(f"High School+ Graduation Rate min BEFORE: {combined['hs_grad_rate'].min()}")
combined['hs_grad_rate'] = combined['hs_grad_rate'] / 100
print(f"High School+ Graduation Rate min AFTER: {combined['hs_grad_rate'].min()}")
print("=" * 30)

print(f"Bachelors+ Graduation Rate min BEFORE: {combined['bachelors_grad_rate'].min()}")
combined['bachelors_grad_rate'] = combined['bachelors_grad_rate'] / 100
print(f"Bachelors+ Graduation Rate min AFTER: {combined['bachelors_grad_rate'].min()}")
print("=" * 30)

combined.head()

Poverty Rate min BEFORE: 3.7
Poverty Rate min AFTER: 0.037000000000000005
==============================
Unemployment Rate min BEFORE: 2.0
Unemployment Rate min AFTER: 0.02
==============================
Unemployed 15 Weeks Rate min BEFORE: 0.5
Unemployed 15 Weeks Rate min AFTER: 0.005
==============================
Labor Force Participation Rate min BEFORE: 53.3
Labor Force Participation Rate min AFTER: 0.5329999999999999
==============================
High School+ Graduation Rate min BEFORE: 82.4
High School+ Graduation Rate min AFTER: 0.8240000000000001
==============================
Bachelors+ Graduation Rate min BEFORE: 20.2
Bachelors+ Graduation Rate min AFTER: 0.20199999999999999
==============================

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,hs_grad_rate,bachelors_grad_rate,zhvi,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty
0,AL,2022,4916000,0.645,0.252,0.0480,0.0140,0.002,NaN,0.039,...,0.888,0.288,217335.198947,4804.0,913.5,6430.5,7584.5,73000.0,NaN,240000.0
1,AL,2021,4900800,0.644,0.255,0.0470,0.0130,0.004,NaN,0.037,...,0.879,0.274,193148.797902,3236.5,618.0,5552.0,5527.5,86000.0,NaN,245000.0
2,AL,2020,4833950,0.649,0.260,0.0455,0.0135,0.004,NaN,0.028,...,0.880,0.278,169855.574269,327.0,45.0,325.0,419.5,NaN,NaN,NaN
3,AL,2019,4767100,0.654,0.265,0.0440,0.0140,0.004,NaN,0.019,...,0.871,0.263,157202.180627,94.0,30.5,171.0,108.5,74000.0,800.0,228000.0
4,AL,2018,4752600,0.656,0.265,0.0430,0.0130,0.010,NaN,0.019,...,0.866,0.255,148927.509383,33.0,15.5,37.0,52.5,86000.0,829.0,255000.0

### Remove Nulls

In [320]:
combined.isnull().sum()

state                                 0
year                                  0
total_pop                             0
white_pop                             0
black_pop                             1
hispanic_pop                          0
asian_pop                             0
native_pop                           26
islander_pop                        209
multi_race_pop                        0
median_income                         0
poverty_rate                          0
unemployment_rate                     0
unemployed_15_weeks                   0
labor_force_participation_rate        0
hs_grad_rate                          0
bachelors_grad_rate                   0
zhvi                                  0
crimes_against_society               45
fraud_and_other_financial_crimes     45
property_crime                       45
violent_crime                        45
youth_not_in_school                  51
youth_in_foster_care                153
youth_living_in_poverty              51
dtype: int64

X null records removed out of Y total records.

In [322]:
combined.shape

(357, 25)

### filling missing values with knn imputer

In [324]:

youth_not_in_school_null =combined[combined['youth_not_in_school'].isnull()]
youth_not_in_school_null.head()

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,hs_grad_rate,bachelors_grad_rate,zhvi,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty
2,AL,2020,4833950,0.6490,0.260,0.0455,0.0135,0.0040,NaN,0.0280,...,0.880,0.278,169855.574269,327.0,45.0,325.0,419.5,NaN,NaN,NaN
9,AK,2020,700200,0.5895,0.024,0.0685,0.0650,0.1445,0.0150,0.0940,...,0.937,0.319,315637.682010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,AZ,2020,7102650,0.5315,0.042,0.3210,0.0330,0.0360,0.0020,0.0355,...,0.891,0.330,293697.082332,1966.0,132.5,1609.0,1675.0,NaN,NaN,NaN
23,AR,2020,2929450,0.7020,0.148,0.0805,0.0150,0.0050,0.0040,0.0460,...,0.882,0.249,154522.834951,3316.0,674.0,5676.5,5844.5,NaN,NaN,NaN
30,CA,2020,38510950,0.3530,0.052,0.3990,0.1490,0.0030,0.0035,0.0400,...,0.844,0.369,562502.230878,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [325]:
#missing youth data values using knn imputer
knn_imputer = KNNImputer(n_neighbors=5)
youth_columns = ['youth_not_in_school','youth_in_foster_care','youth_living_in_poverty']
combined[youth_columns] = knn_imputer.fit_transform(combined[youth_columns])
combined.isna().sum()

state                                 0
year                                  0
total_pop                             0
white_pop                             0
black_pop                             1
hispanic_pop                          0
asian_pop                             0
native_pop                           26
islander_pop                        209
multi_race_pop                        0
median_income                         0
poverty_rate                          0
unemployment_rate                     0
unemployed_15_weeks                   0
labor_force_participation_rate        0
hs_grad_rate                          0
bachelors_grad_rate                   0
zhvi                                  0
crimes_against_society               45
fraud_and_other_financial_crimes     45
property_crime                       45
violent_crime                        45
youth_not_in_school                   0
youth_in_foster_care                  0
youth_living_in_poverty               0
dtype: int64